
/** html and body height set to 100% in order to allow landing page to take up entire viewport. **/

html, body {
    background-color: #e1e1e1;
    height: 100%;
    font-family: Lato;
}

/** body position relative to allow for absolute positioning of elements. **/

body {
    position: relative;
}



header {
    height: 90%;
    background-image: url("../img/la.jpg");
    background-size: cover;
    position: relative;
}

.logo {
    height: 47.5px;
    width: 50px;
    float: left;
}

/*   Old logo 
.logo {
    width: 198.5px;
    height: 80.5px;
    position: absolute;
    top: 10px;
    left: 10px;
} */

#mission {
    /*background-color: #0066cc;*/
    background-color: #376398;
    /* Gradient background */
    /*background-image: linear-gradient(360deg, #155799, #e1e1e1);*/
    color: white;
    padding: 15px;
    width: 100%;
    height: auto;
}

#mission h1 {
    font-size: 26px;
    line-height: 36px;
    margin: 10px;
}

#mission p {
    line-height: 36px;
    font-size: 14px;
    margin: 35px;
}

.column-wrapper {
    width: 100%;
    display: block;
}
.column {
    box-sizing: border-box;
    width: 33.3%;
    display: inline-block;
    padding: 20px 20px 20px 20px;
    float: left;
    font-family: Verdana, Arial;
    line-height: 1.5;
    text-align: center;
}

div div img {
    height: 45%;
    width: 100%;
    text-align: center;
}